
header{
    background-color: lightgrey;
    text-align: center;
    width: 100%;
    margin: 0px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0px;
}

h1, h2 {
    color: #333;
}

.mi-boton {
    background-color:lightslategray;
    color: whitesmoke;
    border: 12px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

header{
    background-color: lightgrey;
    display:grid;
    text-align: center;
    width: 100%;
    margin: 0px;
}
p, h1, h2, .mi-boton, a{
    margin: 10px;
}